/*전체부분*/
li {
  list-style: none;
}

/*----------헤더영역----------*/
header {
  position:sticky; /*fixed와 다르게 영역구분 가능*/
  top: 0; /*이걸써야 따라옴*/
  width: 100%; /* 화면의 가로 전체를 차지하도록 설정 */
  z-index: 1000; /*다른 영역보다 위에표시*/
}

.navbar .nav-item :hover {
  background-color: #F48221;
  transition: border-radius 0.3s;
  border-radius: 50%;
}

.navbar a {
  padding: 8px; /*a태그 끼리 간격 주기*/
  margin: 0 8px;
}

main .container {
  background-color:seashell;
}

/*----------슬라이더 영역----------*/
.slider,
.slide img {
  width: 1320px;
  height: 700px;
  position: relative;
  overflow: hidden; /*위치,넓이 넘어가는 부분 숨기기*/
}

/*슬라이드 설정*/
.slide {
  position: absolute; /*절대 위치 지정*/
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 8s infinite normal linear;
}

/*--슬라이드 시간 설정--*/
.slide:nth-child(1) {
  animation-delay: 0;
}
.slide:nth-child(2) {
  animation-delay: -2s;
}
.slide:nth-child(3) {
  animation-delay: -4s;
}
.slide:nth-child(4) {
  animation-delay: -6s;
}

.slide h2 { /*큰 텍스트*/
  position: absolute; /* 절대 위치 지정 */
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%); /* 가운데 정렬을 위한 트랜스폼 */
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.slide p { /*작은 텍스트*/
  position: absolute; /*절대 위치 지정*/
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%); /* 가운데 정렬을 위한 트랜스폼 */
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/*슬라이드 이동*/
@keyframes slider {
  0% {
    transform: translateX(0);
  }

  19% {
    transform: translateX(0); /* 19% 동안 화면(0)에 보여줌 */
  }
  25% {
    transform: translateX(-100%); /* 6% 동안 화면(0%) -> 화면왼쪽(-100)으로 이동  */
    animation-timing-function: step-end; /*100% 는 순간이동 시킴*/
  }
  94% {
    transform: translateX(100%); /* 화면오른쪽(100)으로 순간이동 */
  }

  100% {
    transform: translateX(0); /* 6% 동안 화면왼쪽(100) -> 화면(0)으로 이동 */
  }
}

h1 { /*영역 표시하는 백그라운드 컬러*/
  background-color:lightslategray;
  width: 100%;
}
/*----------information 영역----------*/

.information {
  display: flex;
  flex-direction: column;
}

.information-images___small_1 {
  align-self: flex-start; /* 왼쪽 정렬 */
}

.information-images___small_2 {
  align-self: flex-end; /* 오른쪽 정렬 */
}

.information-images___small_3 {
  align-self: flex-start; /* 왼쪽 정렬 */
}

/*이미지 크기 설정*/
.information-images___small_1 img {
  height: 500px;
  width: 800px;
}

.information-images___small_2 img {
  height: 800px;
  width: 600px;
}

.information-images___small_3 img {
  height: 500px;
  width: 800px;
}

.information-images img{
  height: 500px;
  width: 1200px;
}

/*스크롤시 이미지가 나타나는 css*/
@keyframes reveal {
  from { opacity: 0; clip-path: inset(0% 60% 0% 50%); }
  to { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
}

/*스크롤시 이미지가 나타나는 css*/
.information-images___small_1,
.information-images___small_2,
.information-images___small_3,
.information-images {
  position: relative;
  animation: auto linear reveal both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.information h2 { /*이미지 속 텍스트*/
  position: absolute; /* 절대 위치 지정 */
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%); /* 가운데 정렬을 위한 트랜스폼 */
  color: white; /* 텍스트 색상 */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 450px;
}

/*첫번째 이미지속 텍스트 따로 넓이 늘리기*/
.information-images___small_1 h2 { 
  bottom: 150px;
  width: 650px;
}

.information-images___small_1 {
  align-self: flex-start; /* 왼쪽 정렬 */
}

.information-images___small_2 {
  align-self: flex-end; /* 오른쪽 정렬 */
}

.information-images___small_3 {
  align-self: flex-start; /* 왼쪽 정렬 */
}

/*--서브페이지 이동버튼--*/
.information a {
  margin: 20px;
}

.information button {
  padding: 20px;
  font-size: 40px;
  font-weight: 700;
}

/*----------game schedule 영역----------*/

/* 전체적인 구조 */
.calendar-container {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid black;
}

/* 내비게이션 스타일 */
.wrapper .calendar-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

.wrapper .calendar-nav .month {
  font-size: 24px;
  font-weight: 600;
}

/* 캘린더 스타일 */
.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

.calendar .weeks li {
  font-weight: 500;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar ul li {
  width: calc(100% / 7);
  position: relative;
}

.calendar .days li {
  z-index: 1;
  margin-top: 30px;
  cursor: pointer;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.calendar .days li::before {
  position: absolute; /*절대 위치 지정*/
  content: ''; /*오타아님*/
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.days li:hover::before {
  background: #f2f2f2;
}

/* 모달 스타일 */
#modal {
  display: none;
  position: fixed;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 99;
}

#modal:target {
  display: block;
  animation: modal 1s ease;
}

.box {
  width: 350px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.box p {
  background-color: seagreen;
}

.close {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close a {
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.team_container {
  display: flex;
  justify-content: center;
}

.team_vs span {
  align-items: center;
  margin-top: 80px;
  display: inline-block;
  font-size: 100px;
  padding: 0 50px;
}

.team_container img {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.team_container p {
  font-size: 100px;
}

/*----------ranking 영역----------*/

.accordion {
  margin-left: 300px;
  margin-right: 300px;
}

input[id*=answer] {
  display: none;
}
input[id*="answer"] + label {
  display: block;
  padding: 20px;
  border: 1px solid #232188;
  border-bottom: 0;
  color: #fff;
  background-color:darkgray;
  cursor: pointer;
  position: relative;
  font-size: 24px;
}

input[id*="answer"] + label i {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  display: inline-block;
}

input[id*="answer"] + label + div {
  max-height: 0;
  transition: all .35s;
  overflow: hidden;
  background: #ebf8ff;
  font-size: 12px;
}

input[id*="answer"] + label + div p {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
}

input[id*="answer"]:checked + label + div {
  max-height: 100px;
}

input[id*="answer"]:checked + label i {
  background-position: 0 -30px;
}

/*----------gallery 영역----------*/

/*----------goods 영역----------*/
.goods img {
  height: 300px;
  width: 450px;
}

.goods {
  padding-bottom: 100px;
}

/*----------푸터영역----------*/
footer i {
  margin-left: 50px;
}

.icon a {
  text-decoration: none;
}

.border___row {
  border-bottom: 1px solid white;
}

/*서브 페이지*/

.intro img {
  width: 1320px;
  height: 500px;
}